# Site settings
title: Alexis Mas
description: 'Turning coffee into software since 2008'
url: 'https://alexismas.com'
baseurl: '/'
# google_analytics: 'UA-XXXXXX-X'
disqus_shortname: alexismas

author:
  name: 'Alexis Mas'
  email: hello@alexismas.com
  twitter_username: _axxiss
  github_username:  Axxiss

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
